// Header Site Branding
#block-base-ui-branding
  background pink
  display: flex
  align-items: baseline

  > a
    img
      transition  all 1000ms ease-in-out
      &:hover
        transform rotate(1800deg)