/**
 * Featherlight Gallery – an extension for the ultra slim jQuery lightbox
 * Version 1.7.13 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2018, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/

.featherlight-next,
.featherlight-previous {

	/* preventing text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* IE9 hack, otherwise navigation doesn't appear */
	cursor: pointer;
	display: block;
	position absolute
	top: 0
	right: 0;
	width: 50%;
	height: 100%;
}

.featherlight-previous {
	left 0
}

.featherlight-next:hover,
.featherlight-previous:hover {
	// background: rgba(255,255,255,0.25);
}


.featherlight-next span,
.featherlight-previous span {
	// display: none;
	position: absolute;
	// display: block;
	top 50%
	left 0
	transform: translateY(-50%)
	opacity 0
	transition opacity 100ms ease-out
	text-shadow: 0px 0px 5px #fff;
	img {
		width 35px
		height auto
		margin 35px
	}
}
.featherlight-next span {
	right: 0px;
	text-align: right
	img {
	}
}


.featherlight-next:hover span,
.featherlight-previous:hover span {
	display: inline-block;
	opacity 1
}

.featherlight-swipe-aware .featherlight-next,
.featherlight-swipe-aware .featherlight-previous {
	display: none;
}

/* Hide navigation while loading */
.featherlight-loading .featherlight-previous, .featherlight-loading .featherlight-next {
	display:none;
}

/* Hide navigation in case of single image */
.featherlight-first-slide.featherlight-last-slide .featherlight-previous,
.featherlight-first-slide.featherlight-last-slide .featherlight-next {
	display:none;
}


/* Always display arrows on touch devices */
@media only screen and (max-device-width: 1024px){
	.featherlight-next:hover,
	.featherlight-previous:hover {
		background: none;
	}
	.featherlight-next span,
	.featherlight-previous span {
		display: block;
	}
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight-next,
	.featherlight-previous {
		top: 10px;
		right: 10px;
		left: 85%;
	}

	.featherlight-previous {
		left: 10px;
		right: 85%;
	}

	.featherlight-next span,
	.featherlight-previous span {
		margin-top: -30px;
		font-size: 40px;
	}
}
