.site-branding
  float left
  .site-name
    display none
    position relative
    z-index 2
    a, a:hover, a:visited, a:active
      font-size 35px
      line-height: 30px
      letter-spacing 0px
      font-weight: 600
