*
  box-sizing: border-box

html
body
// body > div:not(.toolbar)) {
body > div
  height: 100%;
  width 100%
  max-height: 100%
  max-width: 100%
  position relative
  &.toolbar
    height 0px

// Sticky footer settings.
body > div {
  display: flex;
  flex-direction: column;
}
.layout-container {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}

.layout-container
footer
  margin 20px 25px
  +above(3)
    margin 50px 50px 50px 100px

body
  footer
    height 40px
    padding: 0 25px !important
    +above(3)
      height 50px
      padding: 0px 50px 0 100px !important


.layout-container main
  +above(3)
    max-width 1100px