
body
  header
  footer
  main
    form
      .form-item
        margin-top 0
        margin-bottom 20px
        .button
          border-radius 7px
          padding 3px 10px
          &:hover
            background-color lighten(COLOR_GREY, 80%)
        input
          &:not([type="checkbox"])
            width 100%


// Reset
input
textarea
  background: unset
  border 1px solid COLOR_BLACK
  padding-left 5px
  transition background 200ms ease-out
  &:focus
    outline unset
    background rgba(white, 80%)
input
  height 35px
  &.button
    padding 0
    margin 0
    border unset
    text-decoration: underline
    transition all 100ms ease-out
    &:hover
      color COLOR_GREY_DARK
      text-decoration: none
  &[type="checkbox"]
    display none
  &[type="checkbox"] + label
    &:before
      background-image url('../images/check-not.svg')
      background-size: 20px 20px;
      background-repeat: no-repeat
      display: inline-block;
      width: 20px;
      height: 20px;
      content:'';
      position relative
      margin-right 5px
      top 3px
      border-radius: 15px
      overflow hidden
      transition background-color 100ms ease-out
  &[type="checkbox"]:checked + label
    &:before
      background-image url('../images/check.svg')
  &[type="checkbox"] + label:hover
    &:before
      background-color white




#contact-message-feedback-form
#user-login-form
  // Hide required *'s in this form.
  label.form-required
    &:after
      display none

.path-user
  .tabs-wrapper
    border-bottom none
    .tabs
        margin 0
        li
          label
            background unset
            a
              margin-right 20px
              background unset
              color COLOR_BLACK
              text-transform: none
              padding 0
              font-size 20px
              &:hover
                text-decoration: underline
  #user-login-form
  #user-pass
    margin-top 50px
    +above(3)
      margin-top 126px
    .description
      display none
    #edit-actions
      margin-top 10px